* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.content-body {
    width: 1400px;
}

.headers-navigation-list {
width: fit-content;
padding: 32px 0;
margin: 0 auto;
}

.headers-navigation-item {
    display: inline-block;
margin: 0 35px;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 135%; 

}

.image {
    margin-bottom: 88px;
}

.content-title {
    
text-align: center;
font-size: 48px;
font-weight: 600;
line-height: 135%; /* 64.8px */
margin-bottom: 40px;
}

.paragraph {
    margin: 0 auto;
width: 856px;
font-size: 21px;
font-weight: 500;
line-height: 150%; /* 31.5px */
margin-bottom: 24px;

}

.colortext {
    color: #04959E;
font-size: 21px;
font-weight: 600;
line-height: 150%;
}

.main-text-list {
    margin: 0 auto;
    width: 856px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 40px;
}

.main-button {
    background: #04959E;
    color: #FFF;
    display: block;
    margin: 0 auto;
font-size: 18px;
font-weight: 400;
line-height: 135%; /* 24.3px */
margin-bottom: 88px;

padding: 10px 24px;

}

.floor-end {
    padding: 16px 0;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 150%; /* 27px */
}

.line {
    height: 1px;
    background-color: rgb(56, 52, 52);
}